<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AddDishList</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <style>
      .big-button {
        font-size: 24px;
        height: 100px;
      }

      #sortlist {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      #sortlist li {
        margin: 10px;
        padding: 10px;
        background-color: #f5f5f5;
        display: flex;
        justify-content: space-between;
      }

      #sortlist li * {
        font-family: monospace;
      }
      #sortlist li.hint {
        background-color: rgb(192, 244, 244);
      }
      #sortlist li.active {
        background-color: #9d8d8f;
      }
    </style>
    <script>
        var username = '<%= username %>';
        var currentlyeditingThisRecipe = <%= id %>;

        var activitiesData = JSON.parse('<%- activities.replace(/&#34;/g, '\\"') %>');
        var productsData = JSON.parse('<%- products.replace(/&#34;/g, '\\"') %>');
        var categoriesData = JSON.parse('<%- categories.replace(/&#34;/g, '\\"') %>');


        var idOfStep = 0;


        function loadRecipe(){
          if(currentlyeditingThisRecipe === -1){
            return;
          }
          var editable = <%- editJson.replace(/&#34;/g, '\\"') %>;

          console.log( editable.product_table.length);
          for (let i = 0; i < editable.product_table.length; i++){
            addPreparedEarlierStep();


            var activity = document.getElementById('activities' + String(i));
            activity.value = editable.activity_table[i].activity;

            var productCategory =  document.getElementById('productCategory' + String(i));
            productCategory.value = editable.product_table[i].product_category;
            productCategory.dispatchEvent(new Event('change'));

            var product2 = document.getElementById('product' + String(i));
            product2.value = editable.product_table[i].product;


            var product_amount = document.getElementById('Product_amount' + String(i));
            product_amount.value = editable.product_table[i].amount;

            var a_unit_amount =document.getElementById('unit' + String(i));
            a_unit_amount.value = editable.product_table[i].unit;

            console.log(editable.product_table[i].unit);

            var Product_name =document.getElementById('Product_name' + String(i));
            Product_name.value = editable.time_table[i].time;

            var timeUnit =document.getElementById('timeUnit' + String(i));
            timeUnit.value = editable.time_table[i].time_unit;

            var Description_name =document.getElementById('Description_name' + String(i));
            Description_name.value = editable.description_table[i].description;


          }
        }


        function addPreparedEarlierStep() {

        const draggable_list = document.getElementById('sortlist');
        const newItem = document.createElement('li');

        newItem.setAttribute('draggable', 'true');


        var select1 = document.createElement('select');
        select1.id = 'activities' + String(idOfStep);
        select1.name = 'activities' + String(idOfStep);
        select1.ariaLabel =".form-select-lg example";

        for (let activity of activitiesData) {
          console.log(activity);
           var option = document.createElement('option');
           option.textContent = activity.activity;
           select1.appendChild(option);
        }


        var select2 = document.createElement('select');
        select2.id = 'productCategory' + String(idOfStep);
        select2.name = 'productCategory' + String(idOfStep);

        for (let category of categoriesData) {
          var option = document.createElement('option');
          option.value = category.category;
          option.textContent = category.category;
          select2.appendChild(option);
        }

        select2.addEventListener("change", function() {
          var selectedCategory = select2.value;
          select3.innerHTML = '';
          for (let product of productsData) {
            if(selectedCategory == product.product_category){
              var option = document.createElement('option');
              option.value = product.product;
              option.textContent = product.product;
              select3.appendChild(option);
            }
          }
        });


        var select3 = document.createElement('select');

        select3.id = 'product' + String(idOfStep);
        select3.name = 'product' + String(idOfStep);
        var firstCategory = select2.value;
        for (let product of productsData) {
          if(firstCategory == product.product_category){
            var option = document.createElement('option');
            option.value = product.product;
            option.textContent = product.product;
            select3.appendChild(option);
          }
        }





        var input1 = document.createElement('input');
        input1.type = 'text';
        input1.id = 'Product_amount' + String(idOfStep);
        input1.name = 'Product_amount' + String(idOfStep);
        input1.placeholder = 'Enter Amount';





        var select4 = document.createElement('select');
        select4.name = 'Unit' + String(idOfStep);;
        select4.id = 'unit' + String(idOfStep);;
        var option1 = document.createElement('option');
        option1.value = 'g';
        option1.textContent = 'g';
        var option2 = document.createElement('option');
        option2.value = 'dag';
        option2.textContent = 'dag';
        var option3 = document.createElement('option');
        option3.value = 'kg';
        option3.textContent = 'kg';
        var option4 = document.createElement('option');
        option4.value = 'ml';
        option4.textContent = 'ml';
        var option5 = document.createElement('option');
        option5.value = 'l';
        option5.textContent = 'l';

        var option6 = document.createElement('option');
        option6.value = 'sztuk';
        option6.textContent = 'sztuk';

        select4.appendChild(option1);
        select4.appendChild(option2);
        select4.appendChild(option3);
        select4.appendChild(option4);
        select4.appendChild(option5);
        select4.appendChild(option6);




        var input2 = document.createElement('input');
        input2.type = 'text' + String(idOfStep);
        input2.id = 'Product_name' + String(idOfStep);
        input2.name = 'TimeUnit';
        input2.placeholder = 'Enter Time';




        var select5 = document.createElement('select');
        select5.name = 'TimeUnit' + String(idOfStep);
        select5.id = 'timeUnit' + String(idOfStep);
        var option4 = document.createElement('option');
        option4.value = 'seconds';
        option4.textContent = 'seconds';
        var option5 = document.createElement('option');
        option5.value = 'minutes';
        option5.textContent = 'minutes';
        var option6 = document.createElement('option');
        option6.value = 'hours';
        option6.textContent = 'hours';
        select5.appendChild(option4);
        select5.appendChild(option5);
        select5.appendChild(option6);



        var input3 = document.createElement('input');
        input3.id = 'Description_name' + String(idOfStep);
        input3.name = 'Description_name' + String(idOfStep);
        input3.placeholder = 'Description';
        input3.rows = '1';




        var button = document.createElement('button');
        button.id = 'deleteRowButton' + String(idOfStep);
        button.className = 'btn btn-dark mx-2';
        button.textContent = 'delete row';

        button.addEventListener('click', function() {
          var list = document.getElementById('sortlist');
          var listItems = list.children;
          for (let element of listItems){
            console.log(element.id, newItem.id);
              if(element.id == newItem.id){
                list.removeChild(element);
              }
          }
        });

        newItem.appendChild(select1);
        newItem.appendChild(select2);
        newItem.appendChild(select3);
        newItem.appendChild(input1);
        newItem.appendChild(select4);
        newItem.appendChild(input2);
        newItem.appendChild(select5);
        newItem.appendChild(input3);
        newItem.appendChild(button);

        newItem.id = 'row' + String(idOfStep);
        draggable_list.appendChild(newItem);
        idOfStep += 1;
        addPosibilityOfSwappingElements();
      }





        function addPosibilityOfSwappingElements(){
          const draggable_list = document.getElementById('sortlist');
          var items = document.querySelectorAll("#sortlist li");


              dragged = null;

          for(let i of items){
            i.addEventListener("dragstart", function(){
              dragged = this;
              for(let it of items){
                if (it != dragged) it.classList.add("hint");
              }
            })
            i.addEventListener("dragenter", function(){
              if (this != dragged) i.classList.add("active")
            });
            i.addEventListener("dragleave", function(){
              this.classList.remove("active")
            });

            i.addEventListener("dragend", function(){
              for(let it of items){
                it.classList.remove("hint");
                it.classList.remove("active");
              }
            });

            i.addEventListener("dragover", function(evt){
              evt.preventDefault();
            });

            i.addEventListener("drop", function(evt){
              evt.preventDefault();
              if(this != dragged){
                let all = document.querySelectorAll("#sortlist li"), draggedpos = 0, droppedpos = 0;

                for(let it = 0; it < all.length; it ++){
                  if(dragged == all[it]){draggedpos = it};
                  if(this == all[it]){droppedpos = it};
                }

                if(draggedpos < droppedpos){
                  this.parentNode.insertBefore(dragged, this.nextSibling);
                }
                else{
                  this.parentNode.insertBefore(dragged, this);
                }
              }
            });
          }

          // idk czy aktualnie do czegos wykorzystywane
          // const itemHeaders = document.querySelectorAll('.component-header');
          // const itemContents = document.querySelectorAll('.component-content li');

          // itemHeaders.forEach((header) => {
          //   header.textContent = itemContents[0].textContent;
          //     header.addEventListener('click', () => {
          //     header.classList.toggle('active');
          //   });
          // });

          // itemContents.forEach((content, index) => {
          //     content.addEventListener('click', () => {
          //       const selectedContent = content.textContent;
          //       const num = Math.floor(index/Math.floor(itemContents.length / itemHeaders.length));//zmien to jak najszybciej

          //       itemHeaders[num].textContent = selectedContent;
          //       itemHeaders[num].classList.toggle('active');
          //       });
          // });



        };
    </script>
  </head>
  <body>
    <ul id="sortlist"></ul>

    <div class="container">
      <div class="saveBar row">
        <div class="col-6">
          <button
            id="addStepButton"
            class="btn btn-block btn-dark big-button mb-3"
            onclick="addPreparedEarlierStep()"
          >
            Add Step
          </button>
        </div>
        <div class="col-6">
          <button
            id="saveRecipe"
            class="btn btn-block btn-dark big-button mb-3"
            onclick="saveRecipe()"
          >
            Save Recipe
          </button>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  function saveRecipe() {
    item_1_for_JSON = [];
    item_2_for_JSON = [];
    item_3_for_JSON = [];
    item_4_for_JSON = [];
    item_5_for_JSON = [];
    item_6_for_JSON = [];
    item_7_for_JSON = [];
    item_8_for_JSON = [];

    const ulElement = document.getElementById("sortlist");
    const liElements = ulElement.getElementsByTagName("li");

    for (let i = 0; i < liElements.length; i++) {
      var liElement = liElements[i];
      item_1_for_JSON.push(liElement.childNodes[0].value);
      item_2_for_JSON.push(liElement.childNodes[1].value);
      item_3_for_JSON.push(liElement.childNodes[2].value);
      item_4_for_JSON.push(liElement.childNodes[3].value);
      item_5_for_JSON.push(liElement.childNodes[4].value);
      item_6_for_JSON.push(liElement.childNodes[5].value);
      item_7_for_JSON.push(liElement.childNodes[6].value);
      item_8_for_JSON.push(liElement.childNodes[7].value);
    }

    //const jsonString = JSON.stringify(recipe);
    var t = JSON.parse(
      '{"product_table":[{"product":"Milk", "product_category":"Dairy","amount":"150","unit":"g"}], "activity_table":[{"activity":"baking"}], "time_table":[{"time":"15", "time_unit":"seconds"}], "description_table":[{"description":"description"}]}'
    );

    t["product_table"] = [];
    t["activity_table"] = [];
    t["time_table"] = [];
    t["description_table"] = [];

    for (var i = 0; i < liElements.length; i++) {
      t["product_table"].push({
        product: item_3_for_JSON[i],
        product_category: item_2_for_JSON[i],
        amount: String(item_4_for_JSON[i]),
        unit: String(item_5_for_JSON[i]),
      });
      t["activity_table"].push({ activity: String(item_1_for_JSON[i]) });
      t["time_table"].push({
        time_unit: item_7_for_JSON[i],
        time: String(item_6_for_JSON[i]),
      });
      t["description_table"].push({ description: String(item_8_for_JSON[i]) });
    }

    var _username = "<%- username %>";
    const url = "";
    fetch(url, {
      method: "POST",
      body: JSON.stringify({ t, currentlyeditingThisRecipe }),
      headers: {
        "Content-Type": "application/json",
      },
    }).then((response) => {
      if (response.ok) {
        window.location.href =
          "/HomePage?username=" + encodeURIComponent(_username);
      }
    });
  }
  loadRecipe();
</script>
<!DOCTYPE html>
